<%- include("partials/header") %>

<h1 style="margin-bottom:50px">Together, we can do this</h1>
<div >


<h4 style="margin-bottom:50px" >
  Make a Difference was started in the year 2009, as a group of people who wanted to give something back to the society in some or the other way. Later in the year 2012 it got registered as a Non Govermental Organization.

It is working for the upliftment and betterment of the less-privileged kids. It works in the field of girl's education, health and his rights.

Started as a group of 10 friends, today Make a Difference has more than 100 volunteers who work hard round the year for the betterment of the society.

Over the years, Make a Difference has conducted plethora of projects which not only includes grass-root level projects which are directly related to the kids but also includes fund-raising events.
  </h4>

</div>

<div style="margin-bottom:60px"class="card">
  <h5 class="card-header"></h5>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Find out who are behind Make a Difference</p>
    <a href="#" class="btn btn-primary">Memebers and Volunteer</a>
  </div>
</div>


<%- include("partials/footer") -%>
