<%- include("partials/header") %>


<div class = "panel panel-success"  style="margin-top: 100px; margin-bottom:100px; text-align: center;">
   <div class = "panel-heading">
      <h4 class = "panel-title" style="text-align: center;">Donate Now</h4>
   </div>
  <div class="panel-body"><b>Let Them Know Someone Cares</b><br><br
  <div>
    <h4 > No amount is too small. With my contribution, I can give a girl(s) the opportunity to rewrite her future. </h4><br>

<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HVfVkV8e9J4Xog" async> </script> </form>
</div>



<%- include("partials/footer") -%>
