<%- include("partials/header") %>

<div class="effect11 container">
  <img src="https://images.unsplash.com/photo-1522661067900-ab829854a57f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" width="1120" height= "500">
  <div class="leftSide_mask"></div>
    <div class="rightSide_mask"></div>
      <div class="leftSide">
                <h2>No one should remains</h2>
        </div>
      <div class="rightSide">
                <h2> of the education!</h2>
      </div>
    </div>


<div>


<p class ="s-text">Swathi was only 9 months old when her father passed away. For all of her childhood,
  her mother has been a migrant worker. She travels to different farms--some five kilometers away--to help with vegetable crops.
  Her work hours start at 9am and end at 6pm. Because her mother is very tired, Swathi usually only sees her in the evenings.
Swathi came to one of C2C’s partner centers, CSS, in 2011. There, she has received a free education and an abundance of sisters.
She has excelled in her studies. Recently, she competed in an essay competition about freedom and she won 2nd place.
She also participated in Journaling from C2C and won 1st place.She is in 10th grade and in 3rd rank in her class.
 She is interested in drawing and dreams of becoming an engineer one day.</p>

  </div>


  <div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Educate a girl child; she can be the best leader in the country.</p>
        <footer class="blockquote-footer">Malala Yousufzai <cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>

  <div class="card">

    <div class="card-body">
      <h4 class="card-title">Help them, to get Educated</h4>
      <p class="card-text">With your help, we can educate girls who may not otherwise have the chance to learn — changing the course of their lives, their children’s lives and the future of their communities.
</p>
      <a href="/donate" class="btn btn-primary">DONATE NOW</a>
    </div>
  </div>












<%- include("partials/footer") -%>
